* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande" Lucida Grande;
}

header {
	width: 100%;
	background-color: #ffffff;
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: inline-block;
	margin-left: 10%;
}

.navibar {
	display: inline-block;
	margin-right: 10%;
}

.navibar a {
	margin-right: 50px;
	text-decoration: none;
	color: black;
}

.navibar a:last-child {
	margin-right: 0;
}


/* BILLBOARD */

.billboard {
	background-image: url(img/billboard.png);
	background-position: 0 -150px;
	width: 100%;
	height: 570px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.billDark {
	background-color: #383838;
	width: 100%;
	height: 570px;
	opacity: 0.8;
	position: absolute;
}

.billboardText {
	z-index: 2;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.billboardText img {
	width: 780px;
	height: 120px;
}

.billboardText2 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.billboardText2 span {
	margin: 0 25px;
}


.billboardText .line {
	border-top: solid white 1px;
	width: 40px;
	margin-top: 9px;
}

/* BILLBOARD END */


/* MENU */

.menu {
	width: 100%;

}

.menuMark {
	display: block;
	text-align: center;
	width: 154px;
	margin: 0 auto;
}

.mark {
	width: 154px;
	height: 75px;
	border-left: solid #ea4647 77px;
	border-top: solid #ea4647 10px;
	border-right: solid #ea4647 77px;
	border-bottom: solid transparent 10px;
	margin-bottom: 80px;
}

.markText {
	color: white;
	width: 154px;
	height: 75px;
	position: absolute;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

.menuListMain {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: #555555;

}


.menuList.first {
	width: 35%;
	margin-left: 10%;
	margin-right: 5%;

}

.menuList.second {
	width: 35%;
	margin-right: 10%;
	margin-left: 5%;
}

.menuList ul {
	min-width: 320px;
}


.menuList li {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 60px;

}

.menuList .price {
	float: right;
	z-index: 1;
	background-color: white;
	position: relative;
	padding-left: 40px;
}

.menuList .name::after {
	content: "";
	border-top: solid #e3e1e1 1px;
	margin-left: 40px;
	margin-bottom: -5px;
	width: 500px;
	height: 10px;
	display: inline-block;
	margin-right: 40px;
}

.menuList span.name {
	float: left;
	position: absolute;
}

.menuList .composition {
	color: #b7b7b7;
	font-size: 12px;
	font-style: italic;
}


.loadMoreBtn {
	border: solid #d7d5d5 1px;
	width: 130px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 200px;
	cursor: pointer;
	color: #b7b7b7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadMoreBtn span {
	display: inline-block;
	font-size: 14px;
}


.loadMoreBtn span::after {
	content: "";
	height: 10px;
	border-right: solid #b7b7b7 1px;
	margin: 0 10px;
	display: inline-block;
}

.loadMoreBtn .v-symbol {
	width: 8px;
	height: 8px;
	border: solid #b7b7b7 1px;
	display: inline-block;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
	margin-bottom: 5px;
}

/* MENU END */


/* FEATURED DISHES */

.featured {
	height: 400px;
	margin-bottom: 200px;
}

.featured-header {
	display: inline-block;
	width: 100%;
	margin-bottom: 80px;
}

.featured-header span {
	margin-left: 10%;
	color: #3b3b3b;
	font-size: 20px;
}

.featured-header span::after {
	content: "";
	border-top: solid #e3e1e1 1px;
	margin-left: 20px;
	margin-bottom: -4px;
	width: 200px;
	height: 10px;
	display: inline-block;
}

.featured-header .dots {
	display: inline-block;
	float: right;
	margin-right: 10%;
}

.dots div {
	width: 10px;
	height: 10px;
	background-color: #dedede;
	display: inline-block;
	border-radius: 5px;
}

.dots div.checked {
	background-color: #9b9b9b;
}

.featured .content {
	margin: 0 10%;
	display: flex;
	justify-content: space-between;
}



.content .dishes {
	width: 230px;
	height: 270px;
}

.dishes .dish-img {
	width: 230px;
	height: 200px;
	background-position: center;
	margin-bottom: 30px;
}

.dish1 .dish-img {
	background-image: url(img/dish1.png);
}

.dish2 .dish-img {
	background-image: url(img/dish2.png);
}

.dish3 .dish-img {
	background-image: url(img/dish3.png);
}

.dish4 .dish-img {
	background-image: url(img/dish4.png);
}

.dishes .text {
	display: flex;
	justify-content: space-between;
	color: #555555;
}

.rating span {
	color: #dedede;
}

.rating .star{
	color: #f1df2f;
}

/* FEATURED DISHES END */


/* GALLERY */

.gallery {
	margin-bottom: 200px;
}

.gallery-header {
	margin-bottom: 80px;
}
.gallery-header span {
	margin-left: 10%;
	color: #3b3b3b;
	font-size: 20px;
}

.gallery-header span::after {
	content: "";
	border-top: solid #e3e1e1 1px;
	margin-left: 20px;
	margin-bottom: -4px;
	width: 200px;
	height: 10px;
	display: inline-block;
}

.gallery-img {
	margin: 0 10%;
	width: 1100px;
	height: 432px;
	background-color: lightgray;
	display: flex;

}

.gallery-img .image1 {
	background-image: url(img/gallery1.png);
	width: 366px;
	height: 432px;
	background-position: center;
	display: inline-block;
}

.other-img {
	width: 734px;
	display: flex;
	flex-wrap: wrap;

}

.other-img div {
	width: 367px;
	height: 216px;
	background-position: center;
}

.other-img .image2 {
	background-image: url(img/gallery2.png);
}

.other-img .image3 {
	background-image: url(img/gallery3.png);
}
.other-img .image4 {
	background-image: url(img/gallery4.png);
}

.other-img .image5 {
	background-image: url(img/gallery5.png);
}

/* GALLERY END */

/* FOOTER */

footer {
	padding: 100px 10% 0;
	width: 100%;
	height: 317px;
	background-color: #3b3b3b;
	display: flex;
	justify-content: space-between;
}

footer div {
	width: 210px;
	color: white;
}

.footer-elem span {
	display: block;
	margin-bottom: 10px;
}

.footer-menu a {
	display: block;
	color: white;
	margin-bottom: 20px;
	text-decoration: none;
}
















